# ML Project 

### We Can't Choose A Name So This Is The Name The Entire Thing 

### Rey Stone, Mara Backsen, Winter Russell

In [20]:
import pandas as pd
import numpy as np

In [21]:
covid = pd.read_csv('data/Covid Data.csv')
covid.info()
covid.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97

In [23]:
for col in covid.columns : 
    print('{:<20} => {:>10}'.format(col, len(covid[col].unique())))

USMER                =>          2
MEDICAL_UNIT         =>         13
SEX                  =>          2
PATIENT_TYPE         =>          2
DATE_DIED            =>        401
INTUBED              =>          4
PNEUMONIA            =>          3
AGE                  =>        121
PREGNANT             =>          4
DIABETES             =>          3
COPD                 =>          3
ASTHMA               =>          3
INMSUPR              =>          3
HIPERTENSION         =>          3
OTHER_DISEASE        =>          3
CARDIOVASCULAR       =>          3
OBESITY              =>          3
RENAL_CHRONIC        =>          3
TOBACCO              =>          3
CLASIFFICATION_FINAL =>          7
ICU                  =>          4

In [24]:
print('Percentage of missing values')
for col in covid.columns :
    print('{:<20} => {:>10.2f}%'.format(col, len(covid[(covid[col]==98) | (covid[col]==99) | (covid[col]==97)])/len(covid)*100))

Percentage of missing values
USMER                =>       0.00%
MEDICAL_UNIT         =>       0.00%
SEX                  =>       0.00%
PATIENT_TYPE         =>       0.00%
DATE_DIED            =>       0.00%
INTUBED              =>      81.62%
PNEUMONIA            =>       1.53%
AGE                  =>       0.03%
PREGNANT             =>      50.28%
DIABETES             =>       0.32%
COPD                 =>       0.29%
ASTHMA               =>       0.28%
INMSUPR              =>       0.32%
HIPERTENSION         =>       0.30%
OTHER_DISEASE        =>       0.48%
CARDIOVASCULAR       =>       0.29%
OBESITY              =>       0.29%
RENAL_CHRONIC        =>       0.29%
TOBACCO              =>       0.31%
CLASIFFICATION_FINAL =>       0.00%
ICU                  =>      81.64%

In [25]:
#Get rid of missing values
cols = ['PNEUMONIA','DIABETES', 'COPD', 'ASTHMA', 'INMSUPR','HIPERTENSION', 
        'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY','RENAL_CHRONIC', 'TOBACCO']
for col in cols :
    covid = covid[(covid[col] == 1)|(covid[col] == 2)]

In [26]:
#Transforming DATE_DIED column into a binary column that just displays whether or not the patient died
covid['PATIENT_DIED'] = np.where(covid['DATE_DIED'] == '9999-99-99', 2, 1)
covid = covid.drop('DATE_DIED', axis = 1)
covid['PATIENT_DIED'].value_counts()

PATIENT_DIED
2    950438
1     74714
Name: count, dtype: int64

In [27]:
covid.drop(columns=['INTUBED','ICU'],inplace=True)

In [28]:
covid.info()
covid

<class 'pandas.core.frame.DataFrame'>
Index: 1025152 entries, 0 to 1048574
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1025152 non-null  int64
 1   MEDICAL_UNIT          1025152 non-null  int64
 2   SEX                   1025152 non-null  int64
 3   PATIENT_TYPE          1025152 non-null  int64
 4   PNEUMONIA             1025152 non-null  int64
 5   AGE                   1025152 non-null  int64
 6   PREGNANT              1025152 non-null  int64
 7   DIABETES              1025152 non-null  int64
 8   COPD                  1025152 non-null  int64
 9   ASTHMA                1025152 non-null  int64
 10  INMSUPR               1025152 non-null  int64
 11  HIPERTENSION          1025152 non-null  int64
 12  OTHER_DISEASE         1025152 non-null  int64
 13  CARDIOVASCULAR        1025152 non-null  int64
 14  OBESITY               1025152 non-null  int64
 15  RENAL_CHRONIC         1025152 non-null  int64
 16  TOBACCO               1025152 non-null  int64
 17  CLASIFFICATION_FINAL  1025152 non-null  int64
 18  PATIENT_DIED          1025152 non-null  int64
dtypes: int64(19)
memory usage: 156.4 MB

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,PREGNANT,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,PATIENT_DIED
0,2,1,1,1,1,65,2,2,2,2,2,1,2,2,2,2,2,3,1
1,2,1,2,1,1,72,97,2,2,2,2,1,2,2,1,1,2,5,1
2,2,1,2,2,2,55,97,1,2,2,2,2,2,2,2,2,2,3,1
3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2,2,7,1
4,2,1,2,1,2,68,97,1,2,2,2,1,2,2,2,2,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,2,13,2,1,2,40,97,2,2,2,2,2,2,2,2,2,2,7,2
1048571,1,13,2,2,2,51,97,2,2,2,2,1,2,2,2,2,2,7,2
1048572,2,13,2,1,2,55,97,2,2,2,2,2,2,2,2,2,2,7,2
1048573,2,13,2,1,2,28,97,2,2,2,2,2,2,2,2,2,2,7,2
1048574,2,13,2,1,2,52,97,2,2,2,2,2,2,2,2,2,2,7,2

In [29]:
covid.shape

(1025152, 19)

In [30]:
for col in covid.columns:
    print('{:<20} => {:>10}'.format(col, len(covid[col].unique())))

USMER                =>          2
MEDICAL_UNIT         =>         13
SEX                  =>          2
PATIENT_TYPE         =>          2
PNEUMONIA            =>          2
AGE                  =>        121
PREGNANT             =>          4
DIABETES             =>          2
COPD                 =>          2
ASTHMA               =>          2
INMSUPR              =>          2
HIPERTENSION         =>          2
OTHER_DISEASE        =>          2
CARDIOVASCULAR       =>          2
OBESITY              =>          2
RENAL_CHRONIC        =>          2
TOBACCO              =>          2
CLASIFFICATION_FINAL =>          7
PATIENT_DIED         =>          2

In [31]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
covid['AGE'] = scaler.fit_transform(covid.loc[:, ['AGE']])

In [12]:
y = covid['PATIENT_DIED']
x = covid.drop('PATIENT_DIED', axis=1)

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, random_state=42)

print('Train X:', x_train.shape)
print('Train y:', y_train.shape)
print('Test X:', x_test.shape)
print('Test y:', y_test.shape)

Train X: (768864, 18)
Train y: (768864,)
Test X: (256288, 18)
Test y: (256288,)

In [14]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(x_train, y_train)
print(f"Logistic Regression Accuracy {lr.score(x_test, y_test)}")

Logistic Regression Accuracy 0.9378901860407042

/Users/rey/Desktop/covid-19/.env/lib/python3.14/site-packages/sklearn/linear_model/_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 100 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=100).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(