# ML Project 
### Rey Stone, Mara Backsen, Winter Russell

In [4]:
import pandas as pd
import numpy as np

In [5]:
covid = pd.read_csv('data/Covid Data.csv')
covid.info()
covid.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 21 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   USMER                 1048575 non-null  int64
 1   MEDICAL_UNIT          1048575 non-null  int64
 2   SEX                   1048575 non-null  int64
 3   PATIENT_TYPE          1048575 non-null  int64
 4   DATE_DIED             1048575 non-null  object
 5   INTUBED               1048575 non-null  int64
 6   PNEUMONIA             1048575 non-null  int64
 7   AGE                   1048575 non-null  int64
 8   PREGNANT              1048575 non-null  int64
 9   DIABETES              1048575 non-null  int64
 10  COPD                  1048575 non-null  int64
 11  ASTHMA                1048575 non-null  int64
 12  INMSUPR               1048575 non-null  int64
 13  HIPERTENSION          1048575 non-null  int64
 14  OTHER_DISEASE         1048575 non-null  int64
 15  CARDIOVASCULAR        1048575 non-null  int64
 16  OBESITY               1048575 non-null  int64
 17  RENAL_CHRONIC         1048575 non-null  int64
 18  TOBACCO               1048575 non-null  int64
 19  CLASIFFICATION_FINAL  1048575 non-null  int64
 20  ICU                   1048575 non-null  int64
dtypes: int64(20), object(1)
memory usage: 168.0+ MB

   USMER  MEDICAL_UNIT  SEX  ...  TOBACCO CLASIFFICATION_FINAL  ICU
0      2             1    1  ...        2                    3   97
1      2             1    2  ...        2                    5   97
2      2             1    2  ...        2                    3    2
3      2             1    1  ...        2                    7   97
4      2             1    2  ...        2                    3   97

[5 rows x 21 columns]

In [6]:
#Removing all rows that contain missing data in binary columns
covid_clean = covid
cols = ['INTUBED', 'PNEUMONIA', 'PREGNANT', 'DIABETES', 'COPD', 'ASTHMA', 'INMSUPR', 'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY', 'RENAL_CHRONIC', 'TOBACCO']
for col in cols:
    covid_clean = covid_clean[covid_clean[col] < 3]
covid_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76897 entries, 5 to 1048569
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   USMER                 76897 non-null  int64
 1   MEDICAL_UNIT          76897 non-null  int64
 2   SEX                   76897 non-null  int64
 3   PATIENT_TYPE          76897 non-null  int64
 4   DATE_DIED             76897 non-null  object
 5   INTUBED               76897 non-null  int64
 6   PNEUMONIA             76897 non-null  int64
 7   AGE                   76897 non-null  int64
 8   PREGNANT              76897 non-null  int64
 9   DIABETES              76897 non-null  int64
 10  COPD                  76897 non-null  int64
 11  ASTHMA                76897 non-null  int64
 12  INMSUPR               76897 non-null  int64
 13  HIPERTENSION          76897 non-null  int64
 14  OTHER_DISEASE         76897 non-null  int64
 15  CARDIOVASCULAR        76897 non-null  int64
 16  OBESITY               76897 non-null  int64
 17  RENAL_CHRONIC         76897 non-null  int64
 18  TOBACCO               76897 non-null  int64
 19  CLASIFFICATION_FINAL  76897 non-null  int64
 20  ICU                   76897 non-null  int64
dtypes: int64(20), object(1)
memory usage: 12.9+ MB

In [7]:
#Transforming DATE_DIED column into a binary column that just displays whether or not the patient died
covid_clean['PATIENT_DIED'] = np.where(covid_clean['DATE_DIED'] == '9999-99-99', 2, 1)
covid_clean_transform = covid_clean.drop('DATE_DIED', axis = 1)
covid_clean_transform['PATIENT_DIED'].value_counts()

PATIENT_DIED
2    53038
1    23859
Name: count, dtype: int64

In [8]:
covid_clean_transform.info()

<class 'pandas.core.frame.DataFrame'>
Index: 76897 entries, 5 to 1048569
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   USMER                 76897 non-null  int64
 1   MEDICAL_UNIT          76897 non-null  int64
 2   SEX                   76897 non-null  int64
 3   PATIENT_TYPE          76897 non-null  int64
 4   INTUBED               76897 non-null  int64
 5   PNEUMONIA             76897 non-null  int64
 6   AGE                   76897 non-null  int64
 7   PREGNANT              76897 non-null  int64
 8   DIABETES              76897 non-null  int64
 9   COPD                  76897 non-null  int64
 10  ASTHMA                76897 non-null  int64
 11  INMSUPR               76897 non-null  int64
 12  HIPERTENSION          76897 non-null  int64
 13  OTHER_DISEASE         76897 non-null  int64
 14  CARDIOVASCULAR        76897 non-null  int64
 15  OBESITY               76897 non-null  int64
 16  RENAL_CHRONIC         76897 non-null  int64
 17  TOBACCO               76897 non-null  int64
 18  CLASIFFICATION_FINAL  76897 non-null  int64
 19  ICU                   76897 non-null  int64
 20  PATIENT_DIED          76897 non-null  int64
dtypes: int64(21)
memory usage: 12.9 MB

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
X = covid_clean_transform.drop(["PATIENT_TYPE", "PATIENT_DIED"], axis=1)
y = covid_clean_transform[["PATIENT_TYPE", "PATIENT_DIED"]]

<class 'pandas.core.frame.DataFrame'>
Index: 76897 entries, 5 to 1048569
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   USMER                 76897 non-null  int64
 1   MEDICAL_UNIT          76897 non-null  int64
 2   SEX                   76897 non-null  int64
 3   INTUBED               76897 non-null  int64
 4   PNEUMONIA             76897 non-null  int64
 5   AGE                   76897 non-null  int64
 6   PREGNANT              76897 non-null  int64
 7   DIABETES              76897 non-null  int64
 8   COPD                  76897 non-null  int64
 9   ASTHMA                76897 non-null  int64
 10  INMSUPR               76897 non-null  int64
 11  HIPERTENSION          76897 non-null  int64
 12  OTHER_DISEASE         76897 non-null  int64
 13  CARDIOVASCULAR        76897 non-null  int64
 14  OBESITY               76897 non-null  int64
 15  RENAL_CHRONIC         76897 non-null  int64
 16  TOBACCO               76897 non-null  int64
 17  CLASIFFICATION_FINAL  76897 non-null  int64
 18  ICU                   76897 non-null  int64
dtypes: int64(19)
memory usage: 11.7 MB

In [ ]:
X_train_bin, X_test_bin, y_train_bin, y_test_bin = train_test_split(X, y, test_size = 0.3, random_state=42)

<class 'pandas.core.frame.DataFrame'>
Index: 53827 entries, 447758 to 66135
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PATIENT_TYPE  53827 non-null  int64
 1   PATIENT_DIED  53827 non-null  int64
dtypes: int64(2)
memory usage: 1.2 MB